{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <div class="text-center">

                <a class="btn btn-outline-info col-12 col-md-5 mx-auto mt-3"
                   href='{{ path('survey_add_question', {'id': question.survey.id}) }}'>Créer une
                    nouvelle question</a>
            </div>
            {{ form_start(form) }}
            {{ form_row(form.content, {
                label: 'Choix',
                attr: {
                    placeholder: '',
                    class: 'bg-dark border-0 border-bottom border-ivoire rounded-0 text-light'
                },
                row_attr: {
                    class: 'form-floating bg-dark text-ivoire mb-3'
                }
            }) }}
            <button type="submit" class="btn btn-outline-success">Ajouter</button>
            {{ form_end(form) }}

            <div class="row">

                <div class="col-12 ">
                    <h3 class="text-center">Les choix de {{ question.content }}</h3>

                </div>
            </div>
            {% for choix in question.choices %}
                <div class="row mt-2 p-2 rounded-2">
                    <form action="{{ path('survey_delete_choice', {'id': choix.id}) }}"
                          onsubmit="return confirm('Etes-vous sûr de vouloir supprimer {{ choix.content }}')">
                        {{ choix.content }}
                        <button type="submit" class="btn btn-outline-danger ms-3">Supprimer</button>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token(choix.id~'delete') }}">
                    </form>
                </div>
            {% else %}
                <p> Pas de encore choix</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block title %}Ajouter des choix a {{ question.content }}{% endblock %}


