{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-2">
                {{ form_start(form) }}
                {{ form_row(form.content, {
                    label: 'Nouvelle question',
                    attr: {
                        placeholder: '',
                        class: 'bg-dark border-0 border-bottom border-ivoire rounded-0 text-light'
                    },
                    row_attr: {
                        class: 'form-floating bg-dark text-ivoire mb-3'
                    }
                }) }}
                {{ form_row(form.select, {
                    label: 'Liste déroulante',
                    attr: {
                        placeholder: '',
                        class: 'border-ivoire text-light'
                    },
                    row_attr: {
                        class: 'form-floating bg-dark text-ivoire mb-3'
                    }
                }) }}
                {{ form_row(form.optional, {
                    label: 'Facultative',
                    attr: {
                        placeholder: '',
                        class: 'border-ivoire text-light'
                    },
                    row_attr: {
                        class: 'form-floating bg-dark text-ivoire mb-3'
                    }
                }) }}
                <button type="submit" class="btn btn-outline-success">Ajouter la question</button>
                {{ form_end(form) }}
                <a class="btn-outline-light btn mt-3" href="{{ path('survey_view', {'id': survey.id}) }}">Terminer</a>
            </div>


            <div class="col-12 col-md-8 col-lg-6 ms-5">
                <h3>Questions pour "{{ survey.name }}"</h3>

                {% for question in survey.question %}
                    <div class="row">

                        {{ question.content }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

    {% block title %}Ajouter question{% endblock %}

