{% extends 'base.html.twig' %}

{% block title %}Questionnaires{% endblock %}

{% block body %}

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-5 mx-auto">

                {{ form_start(form) }}
                {{ form_row(form.name, {
                    label: 'Nom du formulaire',
                    attr: {
                        placeholder: '',
                        class: 'bg-dark border-0 border-bottom border-ivoire rounded-0 text-light'
                    },
                    row_attr: {
                        class: 'form-floating bg-dark text-ivoire mb-3'
                    }
                }) }}
                {{ form_row(form.general, {
                    label: 'Formulaire général',
                    attr: {
                        placeholder: '',
                        class: 'border-ivoire text-dark'
                    },
                    row_attr: {
                        class: 'form-floating bg-dark text-ivoire mb-3'
                    }
                }) }}
                <button type="submit" class="btn btn-outline-success mb-5">Créer</button>
                <a class="btn btn-outline-light mb-5" href="{{ path('ticket_new') }}">créer un ticket</a>
                {{ form_end(form) }}
                <h2>Questionnaires déjà présents</h2>
                {% for survey in listeSurvey %}
                    <div class="row">
                        <div class="col-12 col-lg-3">

                            {{ survey.name }}
                        </div>
                        <div class="col-12 col-lg-3">

                            <a href="{{ path('survey_view', {'id': survey.id, }) }}"
                               class="btn btn-outline-light">Voir</a>
                        </div>
                        <div class="col-12 col-lg-3">

                            {{ include('survey/_delete_form.html.twig') }}
                        </div>

                    </div>
                {% else %}
                    Pas de questionnaire
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
