{% extends 'base.html.twig' %}

{% block title %}Questionnaires{% endblock %}

{% block body %}

    <div class="container mt-5">
        {{ form_start(form) }}
        {{ form_row(form.name, {'label': 'Nom du questionnaire'}) }}
        {{ form_row(form.general) }}
        <button type="submit" class="btn btn-outline-primary mb-5">Créer</button>
        {{ form_end(form) }}
        <h2>Les questionnaires déjà présent</h2>
        {% for survey in listeSurvey %}
            <div class="row">
                <div class="col-12 col-lg-6">

                    {{ survey.name }}
                </div>
                <div class="col-12 col-lg-6">

                    <a href="{{ path('survey_view', {'id': survey.id, }) }}">Voir</a>
                </div>

            </div>
        {% else %}
            Pas de survey
        {% endfor %}
    </div>
{% endblock %}
