{% extends 'base.html.twig' %}
{% block stylsheet %}
    <link href="{{ asset('librairie/dist/simple-lightbox.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row text-center">
            <h1>Galerie {{ game.name }}</h1>
        </div>

        <div class="gallery">
                <div class="col-12 col-md-3">

                    <a href="{{ path('video_see_video', {'slug': game.slug}) }}"
                       class="btn btn-outline-light mb-3 me-2"> Gallerie vidéo
                    </a>
                </div>
            <div class="row">
                {% for photo in game.pictures %}

                    <div class="mb-2 col-6 col-md-4 col-xl-3">

                        <a href="{{ asset(game_album_directory~game.slug~'/'~photo.name) }}" class="big" rel="rel1">
                            <img src="{{ asset(game_album_directory~game.slug~'/'~photo.name)|imagine_filter('gallery') }}"
                                 alt="Photo de gallerie" class="w-100 card-zoom">
                        </a>
                    </div>

                {% endfor %}
                {% for video in game.videos %}

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                src="https://www.youtube.com/embed/{{ video.name }}" allowfullscreen></iframe>
                    </div>
                {% endfor %}

            </div>


        </div>
    </div>



{% endblock %}

{% block script %}
    {# LIGHTBOX #}
    <script src="{{ asset('librairie/dist/simple-lightbox.min.js') }}"></script>
    <script src="{{ asset('librairie/dist/simple-lightbox.legacy.min.js') }}"></script>
    <script src="{{ asset('librairie/dist/simple-lightbox.jquery.min.js') }}"></script>
    <script src="{{ asset('js/gallery.js') }}"></script>

{% endblock %}

