{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">

            <h1 class="text-center">S'inscrire</h1>
        </div>
        <div class="row">
            <div class="col-12 mx-auto col-md-6">
                {{ form_start(registrationForm) }}

                {{ form_errors(registrationForm) }}

                {{ form_row(registrationForm.lastname, {
                    label: 'Nom',
                    attr: {
                        placeholder: '',
                        class: 'bg-dark border-0 border-bottom border-ivoire rounded-0 text-light'
                    },
                    row_attr: {
                        class: 'form-floating bg-dark text-ivoire'
                    }
                }) }}
                {{ form_row(registrationForm.firstname, {
                    label: 'Prénom',
                    attr: {
                        placeholder: '',
                        class: 'bg-dark border-0 border-bottom border-ivoire rounded-0 text-light'
                    },
                    row_attr: {
                        class: 'form-floating bg-dark text-ivoire'
                    }
                }) }}
                {{ form_row(registrationForm.birthDate,{
                    label: 'Date de naissance',
                    attr: {
                        placeholder: '',
                        class: 'bg-dark border-0 border-bottom border-ivoire rounded-0 text-light'
                    },
                    row_attr: {
                        class: 'form-floating bg-dark text-ivoire'
                    }}) }}



                {{ form_row(registrationForm.pseudo, {
                    label: 'Pseudo',
                    attr: {
                        placeholder: '',
                        class: 'bg-dark border-0 border-bottom border-ivoire rounded-0 text-light'
                    },
                    row_attr: {
                        class: 'form-floating bg-dark text-ivoire'
                    }
                }) }}
                {{ form_row(registrationForm.photo, {
                    attr: {
                        placeholder: '',
                        class: 'bg-dark border-0 border-bottom border-ivoire rounded-0 text-light'
                    },
                }) }}
                {{ form_row(registrationForm.email, {
                    label: 'Mail',
                    attr: {
                        placeholder: '',
                        class: 'bg-dark border-0 border-bottom border-ivoire rounded-0 text-light'
                    },
                    row_attr: {
                        class: 'form-floating bg-dark text-ivoire'
                    }
                }) }}

                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe',
                    attr: {
                        placeholder: '',
                        class: 'bg-dark border-0 border-bottom border-ivoire rounded-0 text-light'
                    },
                    row_attr: {
                        class: 'form-floating bg-dark text-ivoire'
                    }
                }) }}
                <div id="passWordHelp" class="form-text">
                    Minimum :
                    <ul class="text-ivoire">
                        <li>8 Caractères</li>
                        <li>1 Majuscule</li>
                        <li>1 Minuscule</li>
                        <li>1 Chiffre</li>
                        <li>1 Caractère spécial</li>
                    </ul>
                </div>
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                </div>

                <button type="submit" class="btn btn-outline-light">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block stylsheet %}<script src="https://www.google.com/recaptcha/api.js" async defer></script>{% endblock %}
