{{ form_start(form) }}
    {{ form_row(form.content,{
        'label': 'commentaire'
    }) }}
    {{ form_widget(form)}}
    <button class="btn btn-primary">{{ button_label|default('Envoyer') }}</button>
{{ form_end(form) }}
