<!-- FOOTER -->
<footer class="w-100 py-4 flex-shrink-0 bg-black">
    <div class="container py-4">
        <div class="row gy-4 gx-md-5">

            <div class="col-lg-4 col-md-6">
                <a href="https://www.facebook.com/arcanlesdemonsdivoire/">
                    <h5 class="h1 text-white"><i
                                class="fab fa-facebook"></i></h5>
                </a>
                <p class="small text-muted">L'association "<strong>Arcan - les
                        Démons d'Ivoire</strong>" a pour objet la promotion du <strong>jeu de rôle</strong>. Elle organise notamment des
                    <strong>jeux Grandeur Nature (GN)</strong>.</p>
                <p class="small text-muted mb-0">&copy; Copyrights. Tous droits réservés.
                </p>
            </div>

            <div class="col-lg-4 col-md-6">
                <h5 class="text-white h1"><i class="fab fa-symfony"></i> </h5>
                <p class="small text-muted">
                    Site développé par : <br>
                    <a href="mailto:renaudkieffer6@gmail.com">Renaud KIEFFER</a>
                    <br>
                    <a href="mailto:enzoxs@hotmail.fr">Hypno</a>
                </p>

            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3">Liens utiles</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href='{{ path('home') }}'>Accueil</a></li>
                    <li><a href="{{ path('game_index') }}">Nos jeux</a></li>
                    <li><a href="{{ path('news_index') }}">Actualités</a></li>
                    <li><a href="{{ path('contact_us') }}">Contactez-nous</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3">Mentions Légales</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="{{ asset('cgv/mentions-legales.pdf') }}">Mentions Légales</a></li>
                    <li><a href="#">Conditions générales d'utilisation</a></li>
                    <li><a href="#">Conditions générales de vente</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>
