{% set route = app.request.attributes.get('_route') %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# FONT AWESOME #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {# BOOTSTRAP #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    {# STYLE PERSO #}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <title>Accueil - Arcan, Jeux de roles grandeur nature GN</title>


</head>
<body class="text-light">


<div id='hero'>

    <div class='layer-bg layer parallax' data-depth='0.30'></div>
    {% include('main/navbar.html.twig') %}

    {% if paid %}
        <div class="alert-warning p-3 text-center">vous avez la cotisation a <a class="btn btn-outline-primary"
                                                                                href="{{ path('checkout_membership', {'id': paid.membership.id}) }}">payer</a>
        </div>
    {% endif %}


    {% if app.session.flashBag.has('error') %}
        <div class="container position-absolute top-0 start-50 translate-middle-x flash">
            <div class="row">
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissible fade show text-center col-12 p-4 m-0"
                         role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if app.session.flashBag.has('success') %}
        <div class="container position-absolute top-0 start-50 translate-middle-x flash">
            <div class="row">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show text-center col-12 p-4 m-0"
                         role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if requestedRefund and is_granted('ROLE_ADMIN') %}
        <div class="text-center position-fixed top-0 start-50 translate-middle-x first-layer">
            <a class="btn btn-outline-warning" href="{{ path('order_refund_requested') }}">Demandes de
                remboursement</a>
        </div>
    {% endif %}
    {# <div class='layer-overlay layer parallax' data-depth='0.85'></div> #}

    <div class="layer parallax layer-overlay" data-depth='1'>

    </div>
    <div class="layer parallax blood" data-depth='0.60'>

    </div>
    <div class="row layer parallax title h-100" data-depth='0.70'>
        <div class="col-6 mx-auto">

            <img src="{{ asset('img/LOGO.png') }}" alt="Arcan Les Démons D'Ivoire" class="w-100 opacity-50">
        </div>

    </div>

</div>

{# LE MOBILE #}
<div class="for-mobile">
    {% include('main/navbar.html.twig') %}
    <div class="container bg-perso">
        <div class="row">
            <div class="col-12">

                <img src="{{ asset('img/LOGO.png')|imagine_filter('logo_mobil') }}" alt="" class="w-100">
            </div>
        </div>
    </div>

</div>
<div id='content' class="bg-perso">
    <div class='container'>
        <div class="row">

            {# PRESENTATION #}
            <section class="col-12 col-lg-9">

                <h2 class="text-center fs-1 m-0 col-12 py-3">Qui sommes-nous ?</h2>
                {% include 'presentation/show.html.twig' %}

            </section>
            {# JEU #}
            <aside class="col-12 col-lg-3">


                <h2 class="text-center fs-3 m-0 col-12 py-3 px-0">Dernier événement</h2>

                {% include 'game/showAll.html.twig' %}
                <h2 class="text-center fs-3 m-0 col-12 py-3 px-0">Derniere actu</h2>


                {# ACTU #}


                {% include 'news/showAll.html.twig' %}
            </aside>

        </div>
    </div>
</div>


{# BOOTSTRAP #}
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
{# GSAP #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"
        integrity="sha512-eP6ippJojIKXKO8EPLtsUMS+/sAGHGo1UN/38swqZa1ypfcD4I0V/ac5G3VzaHfDaklFmQLEs51lhkkVaqg60Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{# SCROLLTRIGGER #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
{# JQUERY #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="{{ asset('js/paralaxe.js') }}"></script>
<script src="{{ asset('js/flash.js') }}"></script>
{% include ('main/footer.html.twig') %}
</body>
</html>
