<div class="container-fluid">
    <div class="row">
        <div class="col-12">


        {{ form_start(form) }}
    {{ form_row(form.content, {
        label: 'Présentation',
        label_attr: {
            class: 'text-ivoire'
        }

    }) }}
    <button class="btn {{ button_color|default('btn-outline-success') }}">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}

        </div>
    </div>
</div>
