{% extends 'base.html.twig' %}

{% block title %}Administration {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Administration</h1>
        </div>
        <div class="row">
            <div class="col-4 col-md-3 mb-3">
                <a href="{{ path('game_index') }}" class="btn btn-primary">Jeux</a>
            </div>
            <div class="col-4 col-md-3 mb-3">
                <a href="{{ path('user_index') }}" class="btn btn-success">Joueur</a>
            </div>
            <div class="col-4 col-md-3 mb-3">
                <a href="{{ path('order_index') }}" class="btn btn-secondary">Commande</a>
            </div>
            <div class="col-4 col-md-3 mb-3">
                <a href="{{ path('ticket_index') }}" class="btn btn-dark">Ticket</a>
            </div>
            <div class="col-4 col-md-3 mb-3">
                <a href="{{ path('role_groupe_index') }}" class="btn btn-danger">Groupe</a>
            </div>
            <div class="col-4 col-md-3 mb-3">
                <a href="{{ path('survey_index') }}" class="btn btn-info">Questionnaire</a>
            </div>
            <div class="col-4 col-md-3 mb-3">
                <a href="{{ path('article_index') }}" class="btn btn-info">Discussion</a>
            </div>
            <div class="col-4 col-md-3 mb-3">
                <a href="{{ path('news_index') }}" class="btn btn-info">News</a>
            </div>
        </div>
    </div>
{% endblock %}
