<div class="row p-0 m-0">
    <h1 class="text-center mb-4">Tous nos jeux</h1>
    {% for game in allGames %}
        <div class="col-12 col-md-4">
            <div class="card col-12 col-md-11 mx-auto bg-cardgame p-0 my-2 card-zoom">
                <a href="{{ path('game_show', {'slug': game.slug}) }}" class="text-decoration-none text-light d-inline">
                    <img src="{{ asset("img/uploads/"~game.slug~"/banner.jpg")|imagine_filter('banner_game') }}"
                         class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ game.name }}</h5>
                        <p class="card-text">{{ game.description|excerpt(20) }}</p>
                        <a href="{{ path('game_show', {'slug': game.slug}) }}" class="btn btn-outline-light mb-3 me-2">Voir
                            plus</a>
                        {% if is_granted('ROLE_ADMIN') %}

                            <a href="{{ path('game_edit', {'id': game.id}) }} "
                               class="btn btn-outline-warning mb-3 me-2">Modifier</a>
                            <form method="post" action="{{ path('game_delete', {'id': game.id}) }}"
                                  onsubmit="return confirm('Voulez-vou vraiment supprimer {{ game.name }}');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game.id) }}">
                                <button class="btn btn-outline-danger mb-3 me-2">Delete</button>
                            </form>
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>
    {% else %}
        <div class="alert alert-warning">Pas de jeux enregistré</div>
    {% endfor %}
</div>
