{% extends 'base.html.twig' %}
{%  set enable = false %}

{% block title %}{{ game.name }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <h1 class="text-center">{{ game.name }}</h1>

            <div class="col-12 m-0 p-0">
                <img src="{{ asset(game_photo_directory~game.banner) }}" alt=""
                     class="w-100 m-0 mb-5 p-0">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-9">

                <div class="row">
                    <div class="col-12 ckeditor">
                        <p class="text-center">

                            {{ game.description|purify|raw }}
                        </p>
                    </div>
                </div>

            </div>
            <div class="border border-ivoire rounded-3 col-12 col-lg-3 p-5">
                <div class="align-content-center">

                    <h2 class="text-center"> Billetterie</h2>
                    {% for ticket in game.tickets %}
                        {% if ticket.stock %}
                            {% set enable = true %}
                            <p>{{ ticket.name }} : {{ ticket.price }} €</p>
                        {% else %}
                            <p>{{ ticket.name }} : Epuisé </p>

                        {% endif %}

                    {% endfor %}
                    <div class="text-center">
                        {% if enable %}
                        <a href="{{ path('order_new', {'slug':  game.slug }) }}" class="btn btn-warning mx-auto mt-3">
                            Acheter un ticket</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

        <a href="{{ path('game_index') }}" class="btn btn-outline-light mb-3 me-2">Retour à la liste des jeux</a>
        <a href="{{ path('see_album', {'slug': game.slug}) }}" class="btn btn-outline-light mx-auto mb-3 me-2">Album
            photos</a>
        <a href="{{ path('video_see_video', {'slug': game.slug}) }}" class="btn btn-outline-light mx-auto mb-3 me-2">Album
            vidéos</a>
        {% if is_granted('ROLE_ADMIN') %}

            <a href="{{ path('game_edit', {'id': game.id}) }} " class="btn btn-outline-warning  mb-3 me-2">Modifier</a>
            <a href="{{ path('game_add_album_Photo', {'id': game.id}) }} "
               class="btn btn-outline-info mb-3 me-2">Ajouter photos</a>
            <a href="{{ path('video_game_add_album_video', {'id': game.id}) }} "
               class="btn btn-outline-info mb-3 me-2">Ajouter vidéo</a>
            {{ include('game/_delete_form.html.twig') }}
        {% endif %}

        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 mt-3">
                {% if date(game.dateEnd) < date() and form %}
                    {{ include('news_comment/_form.html.twig') }}
                {% endif %}
                {% for comment in comments %}
                    <div class="row">
                        <div class="col-12 mt-3">
                            <div class="card bg-cardgame">
                                <div class="card-header">
                                    {{ comment.author.pseudo }}
                                </div>
                                <div class="card-body ckeditor">
                                    <p class="card-text">{{ comment.content|purify|raw }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="my-3 text-center">
                <div class="d-inline-block">
                    {# Affichage du menu permettant de naviguer entre les différentes pages #}
                    {{ knp_pagination_render(comments) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
