<div class="container-fluid">
    <div class="text-center">

        <a href="{{ path('ticket_index') }}" class="btn btn-outline-light mb-3 me-3">Retour à la liste des tickets</a>


    </div>
    <div class="row">
        <div class="col-12">


            {{ form_start(form) }}
            {{ form_row(form.name, {
                label: 'Nom du ticket',
                attr: {
                    placeholder: '',
                    class: 'bg-dark border-0 border-bottom border-ivoire rounded-0 text-light'
                },
                row_attr: {
                    class: 'form-floating bg-dark text-ivoire mb-3'
                }
            }) }}
            {# {{ form_label(form.price, 'Prix') }} #}
            {{ form_widget(form.price, {

                money_pattern: '{{ widget }} €',
                attr: {
                    placeholder: 'Prix',
                    class: 'bg-dark border-0 border-bottom border-ivoire rounded-0 text-light'
                },
                widget_attr: {
                    class: 'form-floating bg-dark text-ivoire mb-3',
                }
            }) }}
            {{ form_row(form.game, {
                label: 'Jeu',
                attr: {
                    placeholder: '',
                    class: 'bg-dark border-0 border-bottom border-ivoire rounded-0 text-light'
                },
                row_attr: {
                    class: 'form-floating bg-dark text-ivoire mb-3'
                }
            }) }}
            {{ form_row(form.stock, {
                label: 'Stock',
                attr: {
                    placeholder: '',
                    class: 'bg-dark border-0 border-bottom border-ivoire rounded-0 text-light'
                },
                row_attr: {
                    class: 'form-floating bg-dark text-ivoire mb-3'
                }
            }) }}
            {% if ticket.cgv %}
                {{ form_label(form.cgv, 'CGV (.pdf)',{
                    'label_attr': {'class': 'text-ivoire'}
                }) }}
                {{ form_row(form.cgv, {
                    label: false,
                    attr: {
                        placeholder: '',
                        class: 'bg-dark border-0 border-bottom border-ivoire rounded-0 text-light'
                    },

                }) }}

            {% else %}
                {{ form_label(form.cgv, 'CGV (.pdf)',{
                    'label_attr': {'class': 'text-ivoire'}
                }) }}
                {{ form_row(form.cgv, {
                    label: false,
                    attr: {
                        required: 'required',
                        placeholder: '',
                        class: 'bg-dark border-0 border-bottom border-ivoire rounded-0 text-light',

                    },

                }
                ) }}
            {% endif %}
            <button type="submit" class="btn {{ button_color|default('btn-outline-success') }} mt-3">{{ button_label|default('Créer') }}</button>
            {{ form_end(form) }}

        </div>
    </div>
</div>

