{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="text-center">Ticket</h1>

        <div class="card bg-cardgame col-12 col-md-5 mx-auto p-0 my-3">
            <div class="card-header bg-header-card">
                <h5>Nom du ticket : {{ ticket.name }}</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item bg-transparent text-light">Prix : {{ ticket.price }} €</li>
                    <li class="list-group-item bg-transparent text-light">Pour le jeu
                        : {{ ticket.game.name }}</li>
                    <li class="list-group-item bg-transparent text-light">En Stock
                        : {{ ticket.stock }}</li>
                    <li class="list-group-item bg-transparent text-light">
                        <a class="btn btn-primary" href="{{ path('ticket_edit', {'id': ticket.id}) }}">modifier le
                            ticket</a>
                        <a class="btn btn-primary" href="{{ path('survey_ticket_ordered', {'id': ticket.id}) }}">Ordonner
                            Questionnaires</a>
                    </li>
                </ul>
            </div>
            <div class="card-footer list-group-item bg-transparent text-light">
                <p class="text-info text-end blockquote-footer m-0">
                    Créé le : {{ ticket.createdAt ? ticket.createdAt|date('d-m-Y') : '' }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 mx-auto">


                {{ form_start(formnotgeneral) }}
                {{ form_row(formnotgeneral.survey, {'label': 'Les questionnaires précis'}) }}
                <button type="submit" class="btn btn-primary">Ajouter</button>
                {{ form_end(formnotgeneral) }}
            </div>
            <div class="col-12 col-lg-4 mx-auto">


                {{ form_start(formgeneral) }}
                {{ form_row(formgeneral.survey, {'label': 'Les questionnaires généraux'}) }}
                <button type="submit" class="btn btn-primary">Ajouter</button>
                {{ form_end(formgeneral) }}
            </div>
        </div>

        <a class="btn btn-primary mt-4" href="{{ path('ticket_index') }}">revenir a la liste des ticket</a>


        {{ include('ticket/_delete_form.html.twig') }}
    </div>
{% endblock %}
