{% extends 'base.html.twig' %}

{% block title %}Les actualités{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Les actualités</h1>
        <div class="row">

            <div class="col-12 col-md-3 col-lg-2 mx-auto">
                {% if is_granted('ROLE_MODERATOR') %}
                    <a class="btn btn-outline-info w-100" href="{{ path('news_new') }}">Créer une nouvelle actualité</a>
                {% endif %}
            </div>
        </div>
        <div class="row">

            {% for new in news %}

                <div class="col-12 {{ news|length <= 2 ? 'col-md-6' : 'col-md-4' }} m-0 mt-5">

                    <div class="card col-11 mx-auto bg-cardgame p-0 my-2 card-zoom">

                        <div class="card-header">
                            <h5 class="text-center">{{ new.title }}</h5>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">{{ new.title }}</h5>
                            <p class="card-text">{{ new.content|purify|striptags|excerpt(20) }}</p>
                            <a class="btn btn-outline-light mb-3 me-2"
                               href="{{ path('news_show', {'slug': new.slug}) }}">Voir
                                plus</a>
                            {% if is_granted('ROLE_MODERATOR') %}

                                <a href="{{ path('news_edit', {'id': new.id}) }} "
                                   class="btn btn-outline-warning mb-3 me-2">Modifier</a>
                                <form method="post" action="{{ path('news_delete', {'id': new.id}) }}"
                                      onsubmit="return confirm('Voulez-vous vraiment supprimer {{ new.title }} ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ new.id) }}">
                                    <button class="btn btn-outline-danger mb-3 me-2">Supprimer</button>
                                </form>
                            {% endif %}
                        </div>

                    </div>
                </div>
            {% else %}
                <p class="alert alert-warning text-dark mt-5 fw-bold">Pas encore d'actualité... mais ça arrive ;-)</p>
            {% endfor %}
            <div class="d-inline-block">
                {# Affichage du menu permettant de naviguer entre les différentes pages #}
                {{ knp_pagination_render(news) }}
            </div>
        </div>
    </div>

{% endblock %}
