{% extends 'base.html.twig' %}

{% block title %}{{ news.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">{{ news.title }}</h1>
            <div class="col-12">
                <p>{{ news.content|raw }}</p>
                <p class="text-info"> Publier le {{ news.createdAt ? news.createdAt|date('d/m/Y à H\\hi') : '' }}</p>

                <a class="btn-outline-light btn" href="{{ path('news_index') }}">Retour à la liste des actualités</a>
                {% if is_granted('ROLE_MODERATOR') %}
                    <a class="btn btn-outline-warning" href="{{ path('news_edit', {'id': news.id}) }}">Modifier</a>
                    <form class="d-inline" method="post" action="{{ path('news_delete', {'id': news.id}) }}"
                          onsubmit="return confirm('Voulez-vous vraiment supprimer {{ news.title }} ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ news.id) }}">
                        <button class="btn btn-outline-danger">Supprimer</button>
                    </form>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 mt-3">
                    {% if app.user %}
                    {{ include('news_comment/_form.html.twig') }}
                        {% else %}
                        Pour commenter l'actu <a href="{{ path('app_login') }}">Connecter vous</a>
                    {% endif %}
                    {% for comment in comments %}
                        <div class="row">
                            <div class="col-12 mt-3">
                                <div class="card bg-cardgame">
                                    <div class="card-header">
                                        {{ comment.author.pseudo }} {{ comment.createdAt|date('d/m/Y H\\hi') }}
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text">{{ comment.content}}</div>
                                        {% if is_granted('ROLE_MODERATOR') %}

                                            <form method="post"
                                                  action="{{ path('news_comment_delete', {'id': comment.id}) }}"
                                                  onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce message ?');">
                                                <input type="hidden" name="_token"
                                                       value="{{ csrf_token('delete' ~ comment.id) }}">
                                                <button class="btn btn-outline-danger">Supprimer le commentaire</button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="my-3 text-center">
                <div class="d-inline-block">
                    {# Affichage du menu permettant de naviguer entre les différentes pages #}
                    {{ knp_pagination_render(comments) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
