{% extends 'base.html.twig' %}

{% block title %}{{ news.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">{{ news.title }}</h1>
            <div class="col-12">
                <p>{{ news.content }}</p>
                <p class="text-info"> Publier le {{ news.createdAt ? news.createdAt|date('d/m/Y à H\\hi') : '' }}</p>

                <a class="btn-primary btn" href="{{ path('news_index') }}">Retour à la liste des Actualités</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-warning" href="{{ path('news_edit', {'id': news.id}) }}">Modifier</a>
                    <form class="d-inline" method="post" action="{{ path('news_delete', {'id': news.id}) }}"
                          onsubmit="return confirm('Voulez-vou vraiment supprimer {{ news.title }}');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ news.id) }}">
                        <button class="btn btn-danger">supprimer</button>
                    </form>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 mt-3">
                    {{ include('news_comment/_form.html.twig') }}
                    {% for comment in news.newsComments %}
                        <div class="row">
                            <div class="col-12 mt-3">
                                <div class="card bg-cardgame">
                                    <div class="card-header">
                                        {{ comment.author.pseudo }}
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">{{ comment.content }}</p>
                                        {% if is_granted('ROLE_ADMIN') %}

                                            <form method="post"
                                                  action="{{ path('news_comment_delete', {'id': comment.id}) }}"
                                                  onsubmit="return confirm('Etes vous sure de vouloir supprimer ce message?');">
                                                <input type="hidden" name="_token"
                                                       value="{{ csrf_token('delete' ~ comment.id) }}">
                                                <button class="btn btn-danger">Supprimer le commentaire</button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
