{% set route = app.request.attributes.get('_route') %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Arcan Les Démons d'Ivoire, Association dijonnaise organisatrice de jeux de rôle grandeur nature (GN).">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:url"
          content="https://www.arcanlesdemonsdivoire.fr"/>
    <meta property="og:type" content="article"/>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:title" content="Arcan Les démons d'ivoire- Jeu de Rôle grandeur nature"/>
    <meta property="og:description"
          content="L'association Arcan - les Démons d'Ivoire a pour objet la promotion du jeu de rôle. Elle organise notamment des jeux Grandeur Nature (GN)."/>
    <meta property="og:image" content="{{ asset('img/Logo Asso.jpg') }}"/>


    {# FONT AWESOME #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {# BOOTSTRAP #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    {# STYLE PERSO #}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">


    {% block stylsheet %}{% endblock %}
    <title>{% block title %}{% endblock %} - Arcan, Jeux de rôle grandeur nature GN</title>


</head>
<body class="bg-dark text-light">
{% block test %}{% endblock %}

{% include('main/navbar.html.twig') %}

{% if app.session.flashBag.has('error') %}
    <div class="container position-absolute top-0 start-50 translate-middle-x flash mt-5">
        <div class="row">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible fade show text-center col-12 p-4 m-0"
                     role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% if app.session.flashBag.has('success') %}
    <div class="container position-absolute top-0 start-50 translate-middle-x flash mt-5">
        <div class="row">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show text-center col-12 p-4 m-0"
                     role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="min-vh-100">

    {% block body %}

    {% endblock %}
</div>
{% include('main/footer.html.twig') %}


<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{{ asset('js/flash.js') }}"></script>

{% block script %}{% endblock %}
</body>
</html>
