{% set route = app.request.attributes.get('_route') %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# FONT AWESOME #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {# BOOTSTRAP #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
{#     STYLE PERSO #}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">



    {% block stylsheet %}{% endblock %}
    <title>{% block title %}{% endblock %} - Arcan, Les démons d'ivoire</title>


</head>
<body class="bg-dark text-light">
    {% block test %}{% endblock %}

    {% include('main/navbar.html.twig') %}

{% if app.session.flashBag.has('error') %}
    <div class="container">
        <div class="row">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible fade show text-center col-12 my-3" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% if app.session.flashBag.has('success') %}
    <div class="container">
        <div class="row">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show text-center col-12 my-3" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% block body %}

{% endblock %}
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{{ asset('js/gallery.js') }}"></script>
{% block script %}{% endblock %}
</body>
</html>
