{% extends 'base.html.twig' %}

{% block title %}Demandes de remboursement{% endblock %}

{% block body %}
<h1>Liste des demandes de remboursement</h1>


{% for order in orders %}

<div class="card bg-cardgame col-12 col-md-7 mx-auto p-0 my-3">
    <div class="card-header bg-header-card">
        <h5>Ticket pour le jeu : {{ order.ticket.game.name }}</h5>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush ">
            <li class="list-group-item bg-transparent text-light">Acheté par : {{ order.player.pseudo }}</li>
            <li class="list-group-item bg-transparent text-light">Prix : {{ order.total }} €</li>
            <li class="list-group-item bg-transparent text-light">Payé le {{ order.datePaid|date('d-m-Y') }}</li>
            <li class="list-group-item bg-transparent text-light">Motif de la demande : {{ order.refundRequest }} </li>
            <li class="list-group-item bg-transparent text-light">{{ include('order/_refund_form.html.twig') }}</li>
            <li class="list-group-item bg-transparent text-light">{{ include('order/_refund_reject_form.html.twig') }}</li>

        </ul>
    </div>
</div>

{% else %}
    <div class="alert alert-warning">
        Aucune demande de remboursement en cours.
    </div>
    {% endfor %}

{% endblock %}
