{% extends 'base.html.twig' %}

{% block title %}
remboursement
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                {% if disclaimer %}
                <p class="alert-danger p-5 text-center">{{ disclaimer }}</p>
                    {% else %}
                <p class="alert-danger p-5 text-center">Cette demande de remboursement est soumise à l'acceptation du staff</p>
                {% endif %}
                {{ form_start(form) }}
                {{ form_row(form.refundRequest,{
                    'label':'Raison de la demande'
                }) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-warning">Envoyer la demande</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}


