{% extends 'base.html.twig' %}

{% block title %}Cotisation{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Cotisations</h1>
        <div class="text-center">
            <a class="btn btn-outline-info my-5" href="{{ path('membership_new') }}">Créer une nouvelle cotisation</a>
        </div>
        <div class="row">

            {% for membership in memberships %}
                <div class="col-12 {{ memberships|length <=2 ? 'col-md-6': 'col-md-4' }} mx-auto">
                    <div class="card col-10 mx-auto bg-cardgame p-0 my-2 card-zoom">
                        <div class="card-header bg-header-card">
                            <h5 class="text-center">Année {{ membership.year }}</h5>
                        </div>
                        <div class="card-body">

                            <p class="card-text"> Prix : {{ membership.price }} €</p>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('membership_edit', {'id': membership.id}) }} "
                                   class="btn btn-outline-warning mb-3 me-2">Modifier</a>
                                <a class="btn btn-outline-light mb-3 me-2"
                                   href="{{ path('membership_showall', {'id': membership.id}) }}">Liste des membre</a>
                                <a class="btn btn-outline-info mb-3 me-2"
                                   href="{{ path('add_member', {'id': membership.id}) }}">Ajouter des membre a cette
                                    cotisation</a>
                                <a class="btn btn-outline-light mb-3 me-2"
                                   href="{{ path('membership_show', {'id': membership.id}) }}">Voir
                                    la liste des membre qui n'ont pas encore payer</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% else %}
                <p class="alert-warning"> pas encore de cotisation</p>
            {% endfor %}
        </div>

    </div>

{% endblock %}
