{% extends 'base.html.twig' %}

{% block title %}Liste des adhérents{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Email</th>
                        {% if membership %}

                            <th>Action</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for member in members %}
                        <tr>
                            <td>{{ member.pseudo }}</td>
                            <td>{{ member.email }}</td>
                            {% if membership %}
                                <td><a onclick="return confirm('Etes-vous sûr ?')" class="btn-outline-success btn me-3"
                                       href="{{ path('manual_payment', {'id': membership, 'user': member.id}) }}">paiement
                                        hors site</a>
                                    <a onclick="return confirm('Etes-vous sûr ?')" class="btn-outline-danger btn"
                                       href="{{ path('manual_payment', {'id': membership, 'user': member.id}) }}">Retirer
                                        de la cotisation</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a class="btn btn-outline-warning mb-5" href="{{ path('membership_index') }}">Retour</a>
            </div>
        </div>
    </div>




{% endblock %}
