{% extends 'base.html.twig' %}

{% block title %}discussion{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">{{ article.title }}</h1>
        <div class="row">
            <div class="col-12 text-center">
                {{ article.content|purify|raw }}
            </div>
        </div>

        <a class="btn btn-outline-light" href="{{ path('article_index') }}">retour a l'accueil</a>

        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary" href="{{ path('article_edit', {'id': article.id}) }}">modifier</a>
            {{ include('article/_delete_form.html.twig') }}
        {% endif %}
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                {{ form_start(form) }}
                {{ form_row(form.content,{
                    'label': 'commentaire',
                    'attr': {
                        'row' : '20'
                    }
                }) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-success">Envoyer un commentaire</button>
                {{ form_end(form) }}

            </div>
        </div>

        <div class="row mt-5">
            {% for coment in article.coments %}
                <div class="col-12 col-md-8 mx-auto my-3">
                    <div class="card bg-cardgame">
                        <div class="card-header">
                            {{ coment.player.pseudo }}
                        </div>
                        <div class="card-body">
                            <div class="card-text ckeditor">{{ coment.content|purify|raw}}</div>
                            {% if is_granted('ROLE_MODERATOR') %}

                                <form method="post" action="{{ path('comment_delete', {'id': coment.id}) }}"
                                      onsubmit="return confirm('Etes vous sure de vouloir supprimer ce message?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coment.id) }}">
                                    <button class="btn btn-outline-danger">Supprimer</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
