{% extends 'base.html.twig' %}

{% block title %}Joueur{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Joueurs ayant acheté le ticket {{ tickets.name }} du jeu {{ tickets.game.name }}</h1>
        <div class="row">
            {% for user in users %}
                <div class="card mx-auto my-3 bg-cardgame col-12 col-md-5">
                    <img src="{{ asset('img/user/'~user.photo) }}" class="card-img-top img-fluid" alt="photo de profil">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.pseudo }}</h5>
                        <h6 class="card-subtitle mb-2 ">{{ user.firstname }}  {{ user.lastname }}</h6>
                        <p class="card-text">email: {{ user.email }}</p>
                        <a class="card-link btn btn-outline-light" href="{{ path('user_show', {'id': user.id}) }}">Voir plus</a>
                    </div>
                </div>

            {% endfor %}
            <div class="my-3 text-center">
                <div class="d-inline-block">
                    {# Affichage du menu permettant de naviguer entre les différentes pages #}
                    {{ knp_pagination_render(users) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
