{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-5">
                {% if tickets %}
                    <h1 class="text-center">Tickets pour les jeux en cours </h1>
                {% endif %}
                {% for ticket in tickets %}
                    <a class="btn btn-outline-info"
                       href="{{ path('user_index_ticket', {'id': ticket.id}) }}">{{ ticket.name }} {{ ticket.game.name }}</a>

                {% endfor %}
            </div>

        </div>
        <h2 class="text-center">Joueurs</h2>
        <div class="text-center my-4" id="searchmember">
            <label for="search">Recherche</label>
            <input type="text" id="search" class="search form-text" placeholder="exemple@mail.com">
        </div>
        <div class="row">
            {% for user in users %}
                <div class="card mx-auto my-3 bg-cardgame p-0" style="width: 18rem;">
                    <div class="card-header bg-header-card text-center">
                        <h5 class="card-title">{{ user.pseudo }}</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">{{ user.firstname }}  {{ user.lastname }}</h6>
                        <p class="card-text searching">{{ user.email }}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-light" href="{{ path('user_show', {'id': user.id}) }}">Voir plus</a>
                    </div>
                </div>

            {% endfor %}
            <div class="my-3 text-center">
                <div class="d-inline-block">
                    {# Affichage du menu permettant de naviguer entre les différentes pages #}
                    {{ knp_pagination_render(users) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ asset('js/searchuser.js') }}"></script>
{% endblock %}
