{% extends 'base.html.twig' %}

{% block title %}Joueur{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Joueur ayant acheter le ticket {{ tickets.name }} du jeu {{ tickets.game.name }}</h1>
        <div class="row">
            {% for user in users %}
                <div class="card mx-auto my-3 bg-cardgame col-12 col-md-5">
                    <img src="{{ asset('img/user/'~user.photo) }}" class="card-img-top img-fluid" alt="photo de profile">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.pseudo }}</h5>
                        <h6 class="card-subtitle mb-2 ">{{ user.firstname }}  {{ user.lastname }}</h6>
                        <p class="card-text">email: {{ user.email }}</p>
                        <p class="card-text"> role du joueur :
                            {% if user.roleGroupes %}
                            {% for role in roles %}
                        </p>
                        <form class="d-inline" method="post"
                              action="{{ path('role_delete', {'pseudo': user.pseudo, 'id': role.id} ) }}"
                              onsubmit="return confirm('etes vous sur de vouloir retirer ce role?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ role.id) }}">
                            <button class="btn btn-primary"><i class="fas fa-trash me-1"></i>retirer le groupe </button>
                        </form>{{ role.name }}
                        {% else %}
                            <p>pas de groupe</p>
                        {% endfor %}
                        {% endif %}
                        <a class="card-link btn btn-primary my-3" href="{{ path('role_groupe_add', {'id': user.id}) }}">Ajouter un
                            groupe</a>
                        <a class="card-link btn btn-primary" href="{{ path('user_show', {'id': user.id}) }}">Détails</a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}
